$very-dark-desaturated-blue: hsl(238, 29%, 16%);
$soft-red: hsl(14, 88%, 65%);
$soft-violet: hsl(273, 75%, 66%);
$soft-blue: hsl(240, 73%, 65%);
$very-dark-greyish-blue: hsl(237, 12%, 33%);
$dark-greyish-blue: hsl(240, 6%, 50%);
$light-greyish-blue: hsl(240, 5%, 91%);

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  min-height: 100vh;
  background: rgb(175, 103, 233);
  font-family: "Kumbh Sans", sans-serif;
  font-size: 0.9rem;
  font-size: 400;

  background: -moz-linear-gradient(
    190deg,
    rgba(175, 103, 233, 1) 0%,
    rgba(101, 101, 231, 1) 100%
  );
  background: -webkit-linear-gradient(
    190deg,
    rgba(175, 103, 233, 1) 0%,
    rgba(101, 101, 231, 1) 100%
  );
  background: linear-gradient(
    190deg,
    rgba(175, 103, 233, 1) 0%,
    rgba(101, 101, 231, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#af67e9",endColorstr="#6565e7",GradientType=1);
}

summary {
  list-style: none;
}

details summary::-webkit-details-marker {
  display: none;
}

.wrapper {
  position: relative;
}

.cube-img {
  position: absolute;
  top: 12.75rem;
  left: -6.5rem;
  width: auto;
  height: auto;
  margin-left: 0;
}

.card {
  background: url(../images/bg-pattern-desktop.svg) no-repeat white;
  background-position: -36rem 68%;
  border-radius: 2rem;
  display: flex;
  width: 55rem;
  min-height: 32rem;
  justify-content: space-between;
  overflow-x: hidden;
}

.card img {
  width: auto;
  align-self: center;
  height: auto;
  margin-top: -0.75rem;
  margin-left: -5.5rem;
}

.card_heading {
  font: 3rem;
  margin-bottom: 2rem;
  color: $very-dark-desaturated-blue;
}

.card_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3rem;
  width: 50%;
  justify-self: flex-start;
}

.faq {
  padding: 1rem 0;
  border-bottom: 0.1rem solid $light-greyish-blue;
}

.question {
  position: relative;
  cursor: pointer;
  color: $very-dark-greyish-blue;
}

.question::after {
  content: url("../images/icon-arrow-down.svg");
  position: absolute;
  right: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.question:hover {
  color: $soft-red;
  transition: 0.3s ease-in-out;
}

.faq[open] .question:hover {
  color: $soft-red;
  transition: 0.3s ease-in-out;
}

.faq[open] .question {
  color: $very-dark-desaturated-blue;
  font-weight: 700;
  transition: 0.3s ease-in-out;
}
.faq[open] .question::after {
  transform: rotate(180deg);
}

.answer {
  margin-top: 1rem;
  color: $dark-greyish-blue;
  font-size: 0.8rem;
}

.faq:nth-child(5) {
  border-bottom: none;
}

@media screen and (max-width: 1000px) {
  .cube-img {
    top: -4.25rem;
    left: 2rem;
    z-index: 10;
    width: 6rem;
  }
  .card {
    background: url(../images/bg-pattern-mobile.svg) no-repeat white;
    background-position: 2rem 0%;
    flex-direction: column;
    overflow: visible;
    width: 20rem;
    border-radius: 1rem;
  }

  .card img {
    align-self: center;
    width: 15rem;
    height: auto;
    margin-top: -7.75rem;
    margin-left: 0rem;
    z-index: 5;
  }

  .card_heading {
    text-align: center;
  }
  .question {
    font-size: 0.8rem;
  }

  .card_wrapper {
    width: 100%;
    padding: 2rem;
  }
}
